:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body{
  height: 100vh;
  transition: .3s;
}
.darkTheme{
  background-color: #41422e;
  color: rgb(217, 226, 165);
}
.lightTheme{
  background-color: rgb(217, 226, 165);
  color: #41422e;
}
button{
  margin-top: .7rem;
    min-width: 8rem;
    min-height:2.5rem;
    border-radius: .45rem;
    border: none;
    outline: none;
    transition: .3s;
}
.darkbutton{
    background-color:#2b2b1c;
    outline: .1px solid rgb(217, 226, 165);
    color: rgba(223, 232, 173, 0.753);
    font-weight: 600;
}
.lightbutton{
    background-color: rgb(203, 214, 141);
    outline: .1px solid #42432b;
    color: #5d5e3c;
    font-weight: 600;
}
.wrapper{
  min-height: 82vh;
  display: grid;
  place-items: center;
}
.darkbutton:hover{
  filter:drop-shadow(0 0 1rem rgb(203, 214, 141));
}
.lightbutton:hover{
  filter:drop-shadow(0 0 1rem #2b2b1c);
}
.darkbutton:active{
  filter:drop-shadow(0 0 2rem rgb(203, 214, 141));
}
.lightbutton:active{
  filter:drop-shadow(0 0 2rem #2b2b1c);
}
.pattern{
  max-width: 40vw;
  border-radius: .5rem;
  padding: 2.5rem;

}
.darkpattern{
  max-width: 40vw;
  border-radius: .5rem;
  padding: 2.5rem;
  outline: 2.5px dotted rgb(142, 150, 98);
}
.lightpattern{
  max-width: 40vw;
  border-radius: .5rem;
  padding: 2.5rem;
  outline: 2.5px dotted #242424;
}
